global
    log 127.0.0.1 local0 notice
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend server
  bind *:80
  default_backend static
  #static
  acl static_urls path_beg /static
  use_backend static if static_urls
  #auth
  #acl auth_urls path_beg /auth
  #use_backend authentication if auth_urls

listen stats
  bind :9100
  mode http
  stats uri /

backend static
    balance roundrobin
    server node 127.0.0.1:8000 check

#backend authentication
#    balance roundrobin
#    server node 127.0.0.1:8001 check

#backend rental
#  balance roundrobin
#  server node 127.0.0.1:8002 check

#backend search
#  balance roundrobin
#  server node 127.0.0.1:8003 check

#backend contact
#  balance roundrobin
#  server node 127.0.0.1:8004 check
